/*
0 - 600px: phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


&$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  padding: 0;
  font-size: 62.5%;
  font-family: sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  height: 100vh;
  width: 100vw;
  background-color: gainsboro; }

.main {
  height: 90%; }

/*
0 - 600px: phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


&$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.controller__btn {
  border: none;
  font-size: 2rem;
  font-weight: 300; }
  .controller__btn:hover {
    background-color: ghostwhite;
    cursor: pointer; }
  .controller__btn:focus {
    background-color: #1da1f2;
    color: white; }

.navbar__btn {
  height: fit-content;
  padding: .2rem 1rem;
  margin: .5rem 2rem;
  background: #1da1f2;
  border-radius: 5px;
  color: white;
  border: none; }
  .navbar__btn:hover {
    cursor: pointer; }

.navbar__clearHistory {
  height: fit-content;
  padding: .2rem 1rem;
  margin: .5rem 2rem;
  background: #1da1f2;
  border-radius: 5px;
  color: white;
  border: none; }
  .navbar__clearHistory:hover {
    cursor: pointer; }

.navbar__history {
  background-color: #ededed;
  padding: 2rem 3rem;
  margin: 55px 20px;
  position: absolute;
  height: 85vh;
  width: 25vw; }
  @media only screen and (max-width: 75em) {
    .navbar__history {
      height: 85vh;
      width: 25vw; } }
  @media only screen and (max-width: 37.5em) {
    .navbar__history {
      height: 85vh;
      width: 30vw; } }
  @media only screen and (max-width: 25em) {
    .navbar__history {
      height: 85vh;
      width: 100vw;
      margin: 55px 0; } }
  .navbar__history--list {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .navbar__history--ul {
    color: #000;
    font-size: 2.5rem;
    list-style: none;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DCDCDC; }
  .navbar__history--li {
    width: 50%; }

.controller {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 80px);
  grid-auto-flow: column;
  padding: 10px 0;
  width: 70%; }
  @media only screen and (max-width: 75em) {
    .controller {
      grid-gap: 2px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 50px);
      grid-auto-flow: row;
      padding: 10px 1px;
      width: 69%; } }
  @media only screen and (max-width: 56.25em) {
    .controller {
      grid-gap: 2px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 50px);
      grid-auto-flow: row;
      padding: 10px 1px;
      width: 72%; } }
  @media only screen and (max-width: 37.5em) {
    .controller {
      grid-gap: 2px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 50px);
      grid-auto-flow: row;
      padding: 10px 1px;
      width: 61%; } }
  @media only screen and (max-width: 25em) {
    .controller {
      grid-gap: 1px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 50px);
      grid-auto-flow: row;
      padding: 10px 1px;
      width: 100%; } }
  .controller .equal-to {
    order: 6; }

.calculator__keys {
  display: grid;
  /* other necessary CSS */ }

.navbar {
  display: flex;
  justify-content: right;
  position: relative;
  height: 10%; }
  @media only screen and (max-width: 25em) {
    .navbar {
      width: 100%; } }

.output {
  background-color: #EDEDED;
  height: 100%;
  display: flex;
  justify-content: right;
  padding-right: 50px;
  align-items: center;
  width: 70%; }
  @media only screen and (max-width: 75em) {
    .output {
      width: 69%; } }
  @media only screen and (max-width: 56.25em) {
    .output {
      width: 72%; } }
  @media only screen and (max-width: 37.5em) {
    .output {
      width: 61%; } }
  @media only screen and (max-width: 25em) {
    .output {
      width: 100%; } }
  .output__num {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all; }
  .output__previous-operand {
    color: #000;
    font-size: 7rem; }
  .output__current-operand {
    color: rgba(61, 59, 59, 0.75);
    font-size: 3rem; }

@media only screen and (max-width: 25em) {
  .main {
    width: 100vw; } }

.section-1 {
  height: 40%;
  width: 100%; }

.section-2 {
  height: 50%;
  width: 100%; }
