.main {
   
  @include respond(small-phone) {
    width: 100vw;
  
  }
}

.section-1 {
  height:40%;
  width: 100%;

  @include respond(small-phone) {
    height: 50%;
  }
}

.section-2 {
 
  width: 100%;

  // align-items:center;
}
